In [1]:

import pandas as pd

In [ ]:
# no label needed in noise clean up project

In [8]:
list1 = pd.read_csv("./data/google-landmarks-dataset/train_1.csv", usecols =['id','landmark_id'])
list2 = pd.read_csv("./data/google-landmarks-dataset/train_s4x3_image_list.csv")

In [9]:
list1['id'] = list1.id + '.jpg'
list1.columns = ['image','label']

In [10]:
list1.head()

                  image  label
0  97c0a12e07ae8dd5.jpg   6347
1  650c989dd3493748.jpg  12519
2  05e63ca9b2cde1f4.jpg    264
3  08672eddcb2b7c93.jpg  13287
4  fc49cb32ef7f1e89.jpg   4018

In [11]:
list3 = list1[list1['image'].isin(list2['image'])]

In [12]:
list3.head()

                   image  label
3   08672eddcb2b7c93.jpg  13287
6   6ae1e206c579f649.jpg   5554
7   7b1e476a7c89bb34.jpg  12220
12  192333daaf6119cf.jpg  10045
13  c9764ed7eed88330.jpg  13710

In [13]:
list2.count()

image    30000
dtype: int64

In [14]:
list3.count()

image    29997
label    29997
dtype: int64